{% extends "base.html" %}

{% block content %}
<h2>Детали задачи №{{ task.task_number }}</h2>
<p><strong>Заказчик:</strong> {{ task.bid.customer.name }}</p>
<p><strong>Тип продукции:</strong> {{ task.product.type.value }}</p>
<p><strong>Материал:</strong> {{ task.material.type_id.value }}</p>
<p><strong>Количество:</strong> {{ task.quantity }}</p>
<p><strong>Срочность:</strong> {{ task.urgency_id.value }}</p>
<p><strong>Статус:</strong> {{ task.status_id.value }}</p>
<p><strong>Дата создания:</strong> {{ task.created_at }}</p>

<a href="/tasks/">Вернуться к списку</a>
{% endblock %}
