{% extends "base.html" %}

{% block content %}
<h2>Список задач</h2>
<table>
    <thead>
        <tr>
            <th>№</th>
            <th>Заказчик</th>
            <th>Тип продукции</th>
            <th>Количество</th>
            <th>Срочность</th>
            <th>Статус</th>
            <th>Дата создания</th>
            <th>Детали</th>
        </tr>
    </thead>
    <tbody>
        {% for task in tasks %}
        <tr>
            <td>{{ task.task_number }}</td>
            <td>{{ task.bid.customer.name }}</td>
            <td>{{ task.product.type.value }}</td>
            <td>{{ task.quantity }}</td>
            <td>{{ task.urgency_id.value }}</td>
            <td>{{ task.status_id.value }}</td>
            <td>{{ task.created_at }}</td>
            <td><a href="/tasks/{{ task.id }}">Подробнее</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
